.container {
    font-family: 'Karla', sans-serif;
}

.KeyboardCard-img {
    height: 300px;
    width: 300px;
}

.KeyboardCard {
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 350px;
    padding: 1px;
    margin: 4rem;
    box-shadow: 7px 10px 12px -5px rgba(0,0,0,0.56);
    text-align: center;
    /* background-color: #efecee; */
    border-radius: 3px;
}

.KeyboardCard-text {
    margin-top: 1rem;
    text-align: left;
}

.bold {
    font-weight: bold;
}

.btn {
    margin-bottom: 1rem;
    margin-top: 2rem;
}
